<div >
    <div style="margin-top: 10px; border: solid 1px #eee; height: 80%; display: inline-flex;">
        <a routerLink="/StockHistoricalData/DailyHighOIVolumeData"><span> High OI/Volume Scan</span></a> &nbsp;
        <a routerLink="/StockHistoricalData/StockHighOIVolumeData">Stock High OI/Volume Scan</a>&nbsp;
        <a routerLink="/StockHistoricalData/StockBreakout">Breakout Scan</a>
    </div>
    <div >
        <div>
            <router-outlet></router-outlet>
        </div>

    </div>
</div>